/* native elements customization */
:root {
  --brown: #eae0da;
  --yellow: #f7f5eb;
  --navy: #12263a;
  --red: #ff4a4a;
  --gray: #a2a2a1;
  --green: #38c972;
}

input {
  all: unset;
}
[disabled] {
  opacity: 0.5;
}
hr {
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 20px;
}

/* custom */
/* form elements */
label {
  border-right: transparent solid 2px;
}

[focus-target] {
  transition: 0.3s;
}

label.focus-target > [focus-target] {
  scale: 0.7;
  top: 0;
  right: 0;
}

/* header */
nav a {
  width: 121px;
  height: 34px;
  display: flex;
  transition: 0.3s;
  mask-image: url("../images/nav-item-mask.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../images/nav-item-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 124px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

nav a.active,
nav a:hover {
  background-color: white;
  fill: var(--red);
  color: var(--red);
}

.nav-no-mask {
  -webkit-mask: unset;
  width: 100%;
  color: var(--red);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

/* index carousel */
.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

.mask-border {
  background-color: var(--brown);
}

.carousel-item.larger div {
  width: 156px;
  height: 237px;
}

.carousel-item div {
  width: 122px;
  height: 183px;
}

.carousel-item img {
  transition: 0.3s ease-in-out;
  scale: 1;
}

.carousel-item img:hover {
  scale: 1.2;
}

.carousel-item.largest div {
  width: 240px;
  height: 353px;
}

.carousel-item [event-title] {
  width: max-content;
  margin-inline: auto;
}

[white-mask] {
  pointer-events: none;
}

.match-info-tile {
  width: 200px;
  padding: 20px;
  background-image: url(/template_modernhost/home/src/assets/images/61861316.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* utils */

/* animation */

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* paragraph */

p[max-lines] {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
p[max-lines="1"] {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}
p[max-lines="3"] {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
p[max-lines="8"] {
  line-clamp: 8;
  -webkit-line-clamp: 8;
}

/* validation */
#erromellicode {
  color: red;
}

/* buttons */
button.bg-navy:disabled,
button.bg-navy[disabled] {
  --tw-bg-opacity: 0.4;
  background-color: rgb(100 100 100 / var(--tw-bg-opacity));
}

.disabledcheck {
  opacity: 0.6;
}

/* swiper */
.swiper-pagination-bullet-active {
  background-color: var(--red);
}

/* fonts */
@font-face {
  font-family: farhang;
  src: url(../fonts/farhang.woff2);
}

.farhang {
  font-family: farhang;
  font-weight: 500;
}


/* pagination */
.pagination a.active {
  background-color: var(--navy);
  color: #fff;
}

/* ... */
.badge::after {
  content: "";
  background-color: var(--red);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Responsive */
@media screen and (max-width: 640px) {
  nav a {
    mask-image: unset;
    -webkit-mask-image: unset;
    width: 100%;
  }

  .nav-no-mask {
    border-radius: 0;
    padding: 0;
  }
}
