<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>همگروه | ثبت نام</title>

    <!-- ------------------------------------ -->

    <!-- styles -->

    <!-- animate on scroll -->
    <link rel="stylesheet" href="../assets/css/aos.css">

    <!-- icon resource -->
    <link rel="stylesheet" href="../assets/icon/css/materialdesignicons.min.css" />

    <!-- main style file -->
    <link rel="stylesheet" href="../assets/css/main.css" />

    <!-- tailwind exports to -->
    <link rel="stylesheet" href="../../dist/output.css" />
  </head>

  <body class="farhang text-16 text-navy overflow-hidden">
    <div class="wrapper h-screen flex items-center justify-center gap-3">
      <!-- login -->
      <section class="md:w-[60%]" data-aos="fade-left">
        <div class="flex flex-col items-center text-center">
          <div class="bg-brown w-24 h-24 rounded-full flex items-center justify-center">
            <img class="w-1/2 h-1/2 object-cover" src="../assets/images/Apple-Logo.png" alt="" />
          </div>
          <h1 class="text-32">به سامانه همگروه خوش آمدید!</h1>
          <div class="mt-5 bg-brown md:w-1/2 p-10 rounded-xl">
            <h1 class="text-32">ثبت نام</h1>
            <p>لطفا اطلاعات خود را به صورت صحیح وارد کنید</p>
            <form action="" class="flex gap-6 flex-col text-right mt-10">
              <label class="cursor-text bg-yellow p-3 rounded-xl relative group">
                <div focus-target class="absolute top-4 right-5 text-gray flex items-center">
                  <i class="mdi mdi-account-outline"></i>
                  <span class="">نام کاربری</span>
                </div>
                <span onclick="$(this).parent().find('input').val('');$(this).hide()" input-reset class="absolute left-5 top-5 cursor-pointer hidden">
                  <i class="mdi mdi-close"></i>
                </span>
                <input
                  class="text-14 w-full mt-3"
                  oninput="this.value ? $(this).parent().find('[input-reset]').show() :
                            $(this).parent().find('[input-reset]').hide()
                            "
                  type="text"
                  name=""
                  id="" />
              </label>
              <label class="cursor-text bg-yellow p-3 rounded-xl relative group">
                <div focus-target class="absolute top-4 right-5 text-gray flex items-center">
                  <i class="mdi mdi-phone-outline -scale-x-100"></i>
                  <span class="">شماره تماس</span>
                </div>
                <span onclick="$(this).parent().find('input').val('');$(this).hide()" input-reset class="absolute left-5 top-5 cursor-pointer hidden">
                  <i class="mdi mdi-close"></i>
                </span>
                <input
                  class="text-14 w-full mt-3"
                  oninput="this.value ? $(this).parent().find('[input-reset]').show() :
                            $(this).parent().find('[input-reset]').hide()"
                  type="phone"
                  name=""
                  id="" />
              </label>
              <label class="cursor-text bg-yellow p-3 rounded-xl relative">
                <div focus-target class="absolute top-4 text-gray right-5 flex items-center">
                  <i class="mdi mdi-lock-outline"></i>
                  <span class="">رمز عبور</span>
                </div>

                <span onclick="$(this).parent().find('input').val('');$(this).hide()" input-reset class="absolute left-5 top-5 cursor-pointer hidden">
                  <i class="mdi mdi-close"></i>
                </span>
                <input
                  class="text-14 w-full mt-3"
                  oninput="this.value ? $(this).parent().find('[input-reset]').show() :
                            $(this).parent().find('[input-reset]').hide()
                            "
                  type="password"
                  name=""
                  id="" />
              </label>
              <a class="bg-navy w-full p-3 text-white text-center rounded-xl" href="./main.html">
                <button type="submit">ثبت نام</button>
              </a>
              <div class="text-navy text-14 flex max-md:flex-col justify-between">
                <span>
                  حساب کاربری دارید؟
                  <a href="./login.html">ورود</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="w-[40%] max-md:hidden" data-aos="fade-right">
        <div class="bg-brown h-screen relative">
          <img class="w-full h-full object-cover" src="../assets/images/hasan-almasi-J99aFPZcmRo-unsplash.png" alt="" />
          <span class="absolute bottom-20 left-1/2 -translate-x-4 drop-shadow-2xl text-white text-24" onload="$(this).css({left:$(this)})">قم</span>
        </div>
      </section>
    </div>
    <!-- Js -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
